.carousel-item {
    width: 100%;
    height: 80vh;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 1920px) {
    .carousel-item {
        height: 1080px;
    }
}