.rectangulo {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    max-width: 1000px; /* Puedes ajustar este valor según tus necesidades */
    height: 500px;
}
.square-singUp {
    background-color: #21212153;
    border: 2px solid #ccc;
    border-radius: 20px;
    max-width: 650px;
    height: 350px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.form-control {
    width: 80%;
    margin: 0 auto; /* Centra los inputs horizontalmente */
}
.form-label{
    color: white;

}
.styleAlert{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}